mat-card {
    margin: 20px;
  }

  mat-form-field {
    width: 100%;
  }

  button {
    margin-right: 10px;
  }
  
  @media screen and (max-width: 600px) {
    mat-card {
      margin: 10px;
    }
  }
  